name: Cross-compile Skia

on:
  push:
    branches: [ main ]
  
  workflow_dispatch:

env:
  GN_ARGS_WINDOWS: |-
    target_os="win"
    target_cpu="x64"
    is_official_build=true
    is_debug=false
    clang_win=false
    skia_enable_ganesh=true
    skia_enable_gpu=true
    skia_use_gl=true
    skia_use_egl=false
    skia_use_vulkan=false
    skia_use_metal=false
    skia_use_dawn=false
    skia_use_direct3d=false
    skia_enable_fontmgr_empty=false
    skia_enable_fontmgr_win=false
    skia_enable_fontmgr_win_gdi=false
    skia_use_icu=false
    skia_use_libpng_decode=true
    skia_use_libjpeg_turbo_decode=true
    skia_use_libwebp_decode=true
    skia_use_libpng_encode=false
    skia_use_libjpeg_turbo_encode=false
    skia_use_libwebp_encode=false
    skia_use_zlib=true
    skia_enable_svg=true
    skia_enable_pdf=false
    skia_use_xps=false
    skia_use_expat=true
    skia_use_system_expat=false
    skia_use_wuffs=false
    skia_enable_vulkan_debug_layers=false
    skia_use_spirv_validation=false
    skia_use_zlib=true
    skia_use_system_zlib=false
    skia_use_system_libpng=false
    skia_use_system_libjpeg=false
    skia_use_system_libjpeg_turbo=false
    skia_use_system_libwebp=false
    skia_use_system_zlib=false
    skia_use_system_icu=false
    skia_enable_fontmgr_win_gdi=true
    skia_use_directwrite=false
    skia_use_dwrite=false
    ar="x86_64-w64-mingw32-ar"
    cc="x86_64-w64-mingw32-gcc"
    cxx="x86_64-w64-mingw32-g++"
    rc="x86_64-w64-mingw32-windres"
    extra_cflags=["-O3","-DSK_DISABLE_LEGACY_PNG_WRITEBUFFER","-D__forceinline=inline"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev build-essential libudev-dev libxshmfence-dev g++-mingw-w64-x86-64 ninja-build libgtk-3-dev libxfixes-dev libdbus-1-dev pkg-config libxext-dev libxxf86vm-dev libegl1-mesa-dev libgbm-dev libwebp-dev libpci-dev libcups2-dev libasound2-dev git binutils-mingw-w64-x86-64 gcc-mingw-w64-x86-64 libfontconfig1-dev python3-pip libpng-dev libxcomposite-dev libdrm-dev libxdamage-dev libfreetype6-dev libjpeg-dev libxrandr-dev libpulse-dev python3 libxrender-dev libgl1-mesa-dev
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git  --depth 1 $HOME/depot_tools
          echo "$HOME/depot_tools" >> $GITHUB_PATH
          python3 tools/git-sync-deps --shallow

      - name: Build Windows x64
        run: |
          bin/gn gen out/win-x64 --args='${{ env.GN_ARGS_WINDOWS }}'
          ninja -C out/win-x64

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: skia-windows-x64
          path: out/win-x64
